.lego-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.lego-projects h2 {
    color: white;
    font-size: 2.3em;
    font-weight: 500;
    margin-top: 0;
}

.lego-projects-list {
    display: flex;
    gap: 25px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap; 
    animation: scroll-right 10s linear infinite;
}

.lego-projects-list > * {
    display: inline-block;
}

@keyframes scroll-right {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}