.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    min-height: 150px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    padding: 40px 20px 40px 20px;
    gap: 6%;
}

.bio-profile-container {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    outline: 6px solid rgba(223, 223, 223, 0.4);
    transition: 0.4s ease-in-out, outline-width 0.3s ease-in-out;
}

.bio-profile-container:hover {
    transform: scale(1.07);
    outline-width: 10px;
}

.gradient-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 97%;
    height: 95%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: visible;
    z-index: 0;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 45%;
    background: conic-gradient(
        hsl(226, 81%, 64%),
        hsl(271, 81%, 64%),
        hsl(316, 81%, 64%),
        hsl(1, 81%, 64%),
        hsl(46, 81%, 64%),
        hsl(91, 81%, 64%),
        hsl(136, 81%, 64%),
        hsl(181, 81%, 64%),
        hsl(226, 81%, 64%)
    );
    filter: blur(20px);
    animation: rotate 6s ease-in-out infinite;
    z-index: 0;
}

.bio-profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    user-select: none;
    pointer-events: auto;
    -webkit-user-drag: none;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile-overlay-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none;
}

.profile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0,0,0,0.3) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    z-index: 2;
}

.profile-overlay-link:hover .profile-overlay {
    opacity: 1;
    cursor: pointer;
}

.bio-text-container {
    width: 40%;
    text-align: left;
}

.bio h2 {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #555;
}

.highlight-name {
    color: rgb(52, 146, 208);
}

.bio p {
    font-size: clamp(0.9rem, 1.8vw, 1.2rem);
    color: #555;
}
