.resume-section {
  width: 100vw;
  height: auto;
  padding: 12.5vh 33.5vw 6vh 33.5vw;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-frame {
  aspect-ratio: 0.73;
  width: 100%;
  min-width: 300px;
  max-height: 1155px;
  height: auto;
  min-height: 500px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(118, 118, 118, 0.8);
  outline: 5px solid rgba(82, 82, 82, 0.453);

  will-change: transform;
}
