.category {
    display: flex;
    flex-direction: column;
}

.category h2 {
    color: white;
}

.category-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}