.skills {
  width: 100%;
  min-height: 180px;
  background-color: #ebebeb;
  box-shadow: 0 0px 12px rgba(130, 130, 130, 0.725);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 55px 0;
  user-select: none;
}

.skills h2 {
  color: #374054;
  font-size: 2.3em;
  font-weight: 500;
  margin-top: 0;
}

.skills-list {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.skill-flip {
  perspective: 800px;
  cursor: pointer;
  display: inline-block;
}

/* Flip innerwrapper */
.skill-flip-inner {
  display: flex;                /* keep card in flow */
  align-items: center;
  justify-content: center;
  transition: transform 0.55s cubic-bezier(0.61, 0.98, 0.48, 1.01);
  transform-style: preserve-3d;
  height: 36px;
  border-radius: 12px;
  padding: 0 12px;
  box-sizing: border-box;
  background-color: #d6d6db;   /* default front color */
}

/* Flip on hover */
.skill-flip:hover .skill-flip-inner {
  transform: rotateY(180deg);
  background-color: #3b4357;   /* change bg to back color dynamically */
}

/* Front and back content */
.skill-front,
.skill-back {
  backface-visibility: hidden;
  font-size: 1.4em;
  white-space: nowrap;
}

/* Back side rotates 180deg */
.skill-back {
  transform: rotateY(180deg);
  color: #fff;
  position: absolute;
}
