.project-row {
    margin: 20px 0;
}

.project-row h3 {
    margin-bottom: 10px;
}

.project-row-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
}