.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.games h2 {
    color: white;
    font-size: 2.3em;
    font-weight: 500;
    margin-top: 0;
}

.games-list {
    display: flex;
    gap: 25px;
    overflow: hidden;
    width: 100%;
    will-change: transform;
}


.games-list > * {
    display: inline-block;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
