#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(31, 31, 31);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}