.homepage-project-header-container {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 10px;
}

.homepage-project-title {
  position: relative;

  font-size: clamp(2.2rem, 4vw, 2.75rem);
  font-weight: 800;
  letter-spacing: -0.02em;
  margin: 0;

  background: linear-gradient(
    90deg,
    #ffffff,
    #cfcfcf
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage-project-subheader {
    position: relative;
    width: 70%;
    color: rgb(200, 200, 200);
    font-size: 1rem;
}

.homepage-project-subheader h3 {
    position: relative;

    font-size: 1.25rem;
    line-height: 1.7;
    font-weight: 500;
    color: rgb(202, 202, 202);

    margin: 0;
}

.lego-projects .homepage-project-header-container {
  padding-top: 30px;
  padding-bottom: 10px;
  gap: 10px;
}

.lego-projects .homepage-project-title {
  background: none;
  -webkit-text-fill-color: rgb(37, 37, 37);
  color: rgb(36, 36, 36);
}

.lego-projects .homepage-project-subheader h3 {
  line-height: 1.6;
  font-weight: 400;
  color: #d7d7d7;
  margin: 0;
}