.languages {
    width: 100%;
    min-height: 150px;
    background-color: #d6d6db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 40px 0 55px 0;
    user-select: none;
}

.languages h2 {
    color: #374054;
    font-size: 2.3em;
    font-weight: 500;
    margin-top: 0;
}

.languages-list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.language-tag {
    background-color: #ebebeb;
    color: #3b4357;
    font-size: 1.4em;
    padding: 4px 12px 4px 12px;
    white-space: nowrap;
}